<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%= render 'light_section.html.erb', taxon_name: @taxon.name %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render 'products_category', taxonomies: @taxonomies %>
          <%= render 'color_filter' %>
          <%= render 'size_filter' %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render 'filter_area' %>
          <%= render 'product_box', products: @products %>
        </div>
      </div>
    </div>
  </section>
  <%= render 'partners_logo_slider' %>
</div>
